<div class="container">
    <ol>
        <li>
            date:_____
            <br>
            items:
            <br>
            ---------------
            <br>
            ---------------
        </li>
        <li>
            date:_____
            <br>
            items:
            <br>
            ---------------
            <br>
            ---------------
        </li>
        <li>
            date:_____
            <br>
            items:
            <br>
            ---------------
            <br>
            ---------------
        </li>
        <li>
            date:_____
            <br>
            items:
            <br>
            ---------------
            <br>
            ---------------
        </li>
        <li>
            date:_____
            <br>
            items:
            <br>
            ---------------
            <br>
            ---------------
        </li>
        <li>
            date:_____
            <br>
            items:
            <br>
            ---------------
            <br>
            ---------------
        </li>
        <li>
            date:_____
            <br>
            items:
            <br>
            ---------------
            <br>
            ---------------
        </li>
    </ol>
</div>