<main>
    <form action="" method="get">
                <fieldset><legend>Login</legend>
                    <label for="username">Username</label>
                    <div><input type="text" name="username" id="username" size="50"></div>
                    <br>
                    <label for="password">Password</label>
                    <div><input type="text" name="password" id="password" size="50"></div>
                </fieldset>
    <div><input type="submit" name="submit" id="submit"> <input type="reset"></div>
    </form>
</main>